NAME=rtmpdump

#Version number correspond to git snapshot ID
VERSION=19d36368f6c1ec6fa55df319173ca93048309f9a

URL="http://repo.or.cz/w/rtmpdump.git/snapshot/$VERSION.tar.gz"

SRCFILE="$VERSION.tar.gz"

SRCDIR="rtmpdump"

PRE_COMPILATION() {
	sed -i "s/\/usr\/local/\/usr/g" $SRCDIR/Makefile
	sed -i "s/\/usr\/local/\/usr/g" $SRCDIR/librtmp/Makefile
	sed -i "s/\$(CROSS_COMPILE)/sh4-linux-/g" $SRCDIR/Makefile
	sed -i "s/\$(CROSS_COMPILE)/sh4-linux-/g" $SRCDIR/librtmp/Makefile
}

POST_COMPILATION() {
	sh4-linux-strip $SRCDIR/librtmp/librtmp.so
	mkdir -p $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/librtmp/librtmp.so* $PKGDIR/rootdir/usr/lib/
}
