NAME="libpng"

VERSION="1.2.50"

URL="http://downloads.sourceforge.net/project/libpng/libpng12/$VERSION/libpng-$VERSION.tar.gz"

SRCFILE="libpng-$VERSION.tar.gz"

SRCDIR="libpng-$VERSION"

CONFIGUREFLAGS="--host=sh4-linux --disable-static"

POST_COMPILATION() {
	cd $SRCDIR
	sh4-linux-strip .libs/libpng12.so
	sh4-linux-strip .libs/libpng.so.3
	mkdir -p $PKGDIR/rootdir/usr/lib/
	cp -d .libs/libpng12.so* $PKGDIR/rootdir/usr/lib/
	cp -d .libs/libpng.so* $PKGDIR/rootdir/usr/lib/
}
