[submodule "packages/wymodcp-php/web-files/modules/jPlayer"]
	path = packages/wymodcp-php/web-files/modules/jPlayer
	url = https://github.com/happyworm/jPlayer.git
[submodule "packages/wymodcp-php/web-files/modules/jquery"]
	path = packages/wymodcp-php/web-files/modules/jquery
	url = https://github.com/jquery/jquery.git
