NAME="sqlite"

VERSION="3080100"

URL="http://www.sqlite.org/sqlite-autoconf-$VERSION.tar.gz"

SRCFILE="sqlite-autoconf-$VERSION.tar.gz"

SRCDIR="sqlite-autoconf-$VERSION"

CONFIGUREFLAGS="--host=sh4-linux \
	--target=sh4-linux \
	--disable-largefile"

BINARIES="sqlite3"

POST_COMPILATION() {
	cd $SRCDIR
	sh4-linux-strip .libs/sqlite3
	sh4-linux-strip .libs/libsqlite3.so
	mkdir -p $PKGDIR/rootdir/usr/lib/
	cp -d .libs/libsqlite3.so* $PKGDIR/rootdir/usr/lib/
}
