# Generic package building template.
#
# Remove not used variables.
#
# * Binaries will be searched on:
#    - Built packages
#    - STLinux binaries
#    - 'scripts' folder
#
# * Files in this folders will be
#   copied to final package:
#    - config-files
#    - static-files
#

# package name
NAME="busybox"

# package version
VERSION="1.20.2"

# other packages that will be included
#SUBPACKAGES=""

# package dependencies
#DEPENDS=""

# url to download sources file
URL="http://www.busybox.net/downloads/busybox-$VERSION.tar.bz2"

# name of sources file
SRCFILE="busybox-$VERSION.tar.bz2"

# sources dir
SRCDIR="busybox-$VERSION"

# actions before compilation
#PRE_COMPILATION() {

#}

# configure flags
#CONFIGUREFLAGS=""

# actions before building the wybox package
#PRE_WYBOX_PKG_BUILD() {

#}

# binary files to include in final package
#BINARIES=""

# actions to clean compilation files
#CLEAN() {

#}

