NAME=faad2

VERSION=2.7

URL="http://sourceforge.net/projects/faac/files/$NAME-src/$NAME-$VERSION/$NAME-$VERSION.tar.gz/download"

SRCFILE="$NAME-$VERSION.tar.gz"

SRCDIR="$NAME-$VERSION"

CONFIGUREFLAGS="--host=sh4-linux"

POST_COMPILATION() {
	sh4-linux-strip $SRCDIR/libfaad/.libs/libfaad.so
	mkdir -p $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/libfaad/.libs/libfaad.so* $PKGDIR/rootdir/usr/lib/
}
