body{
	margin:0;
	padding:0;
	background:#dedfe0 url(../style/bgpattern3.png) center top repeat-x;
  font-family:Verdana,Arial,sans-serif;
}
body,td,input,select {
	font-size:10pt;
}
textarea{
	font-size:8pt;
}
.clear{
	clear: both;
	font-size: 1px;
}
.btm{vertical-align:bottom;}

/* TITLES */
h1{
	font-size:1.5em;
	line-height:22px;
	color:#33302e;
	margin:0;
	/*padding:10px 0 2px 5px;*/
  padding:0;
	font-weight:bold;
	letter-spacing:-0.4px;
	border:0;
}
h2{
	font-size:1.1em;
	color:#33302e;
	text-decoration:none;
}
h2 a:link{
	color:#33302e;
	text-decoration:none;
}
h2 a:visited{
	color:#33302e;
	text-decoration:none;
}
h2 a:hover{
	color:#33302e;
	text-decoration:underline;
}

h3{
	font-size:15px;
	margin:0;
	color:#025eb3;
	font-weight:bold;
}
a.underline{
	text-decoration:underline;
}
/* TOP SECTIONS */
#space{
	float: left;
	width: 326px;
	height: 20px;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
#upperbar{
	width:928px;
	margin:0 auto;
	margin-top: 5px;
	margin-bottom: 0px;
  height:94px;
	background:url(../style/upperbar.png);
	font-family:Verdana,Arial,sans-serif;
	line-height:1.8em;
	padding:0px 10px 6px 30px;
	white-space:nowrap;
	color:#fff;
}
#upperbar #links{
	float:left;
	width: 345px;
	margin-top: 5px;
	padding-top: 1px;
}
#upperbar a:link,#upperbar a:visited{
	color:#fff;
	font-size:0.85em;
	text-decoration:none;
	font-weight:normal;
}
#upperbar a:hover{
	text-decoration:underline;
}
#header{
	width:960px;
	height:53px;
	margin:0 auto;
	padding:0;
	background:url(../style/headbg3.png);
	position:relative;
}
#tabs{
	float: right;
	margin: 23px 23px 0px 0px;
}
.tab{
	width:114px;
	height: 30px;
	float: left;
	margin-right: 1px;
}

.catdiv{
  height:10px;
	background:transparent url(../style/cat-div.png) no-repeat scroll center;
	color:#fff;
	margin:3px;
	padding:0;
	border:0;
}

hr{
	border:0;
	margin:10px 0;
	border-top:1px solid #ccc;
}

/* BG Borders */
#entire{
	border-left:1px solid #686868;
	border-right:1px solid #686868;
}

/* Content */
.shadow{
	width:968px;
	margin:0px auto;
	padding:0px;
	background:url(../style/bgshadow.png) center top repeat-y;
}
#entire{
	width:958px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	background-color:#dedfe0;
}
#content{
	width:958px;
	margin:0 auto;
	padding:0 0 10px 0;
	overflow:hidden;
}
#content-full{
	float:left;
	width:936px;
	position:relative;
	margin:14px 10px;
}
#content-full .sitetext{
	font-family:Verdana,Arial,sans-serif;
	margin:20px 10px;
}
#content-full .sitetext h1{
	color:#666;
	font-size:135%;
	padding:5px 0;
	border-bottom:solid 1px #ccc;
}
#content-full td,#content-2col td{
	vertical-align:top;
}
#content-3col .left{
	float:left;
	width:165px;
	position:relative;
	padding:2px 0 0 16px;
}
#content-2col .left{
	float:left;
	width:175px;
	position:relative;
	padding:2px 0 0 16px;
}
#content-2col .left2{
	float:left;
	width:590px;
	position:relative;
	padding:16px 0 0 70px;
}
#content-2col h1{
	color:#666;
	font-size:135%;
	padding:5px 0;
	margin-bottom:8px;
	background:transparent url(../style/cat-div.png) no-repeat left bottom;
}
#content-2col h2{
	color:#000;
	font-size:12pt;
	font-weight:bold;
	text-decoration:none;
	background:0;
	border:0;
	padding:3px 0 6px 0;
	line-height:12px;
}
#content-2col em{
	font-family:Verdana,Arial,sans-serif;
	font-style:normal;
	font-size:0.75em;
	margin:2px 0 3px 2px;
	display:block;
}
#content-3col .middle{
	float:left;
	width:545px;
	position:relative;
	padding:8px 4px;
}
#content-3col .middle em{
	padding:0 0 0 8px;
}
#content-3col .desc{
	font-family:Verdana,Arial,sans-serif;
	font-size:0.9em;
	line-height:150%;
	margin:0 8px 10px 12px;
	clear:both;
}
#content-3col .desc p{
	margin-top:0;
}
#content-3col .desc td{
	font-family:Verdana,Arial,sans-serif;
	font-size:0.9em;
	padding:0 0 8px 8px;
	vertical-align:top;
}
#content-3col .right{
	float:right;
	width:198px;
	position:relative;
}
#content-2col .right{
	float:left;
	width:670px;
	position:relative;
	margin:12px 0;
}
#content-2col .right2{
	float:right;
	width:190px;
	position:relative;
}
#content-2col .leftcat{
	float:left;
	width:194px;
	position:relative;
	padding:2px 16px 0 16px;
	text-align: center;
}
.column1 {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #ccc;
  padding: 2px 2px 2px 6px;
  color: #4f6b72;
  float: left;
  width: 240px;
  height:25px;
  font-size: 9px;
}
.column2 {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #ccc;
  padding: 2px 2px 2px 6px;
  color: #4f6b72;
  float: left;
  width: 240px;
  height:25px;
  font-size: 9px;
}
.column3 {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #ccc;
  padding: 2px 2px 2px 6px;
  color: #4f6b72;
  float: left;
  width: 240px;
  height:25px;
  font-size: 9px;
}
.column4 {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #ccc;
  padding: 2px 2px 2px 6px;
  color: #4f6b72;
  float: left;
  width: 240px;
  height:25px;
  font-size: 9px;
}
/* Footers */
.bottombar {
	height:34px;
	width:968px;
	margin:0 auto;
	padding:0;
	background:url(../style/bgfooter.png) no-repeat left top;
	color:#FFF;
	font-size:0.8em;
	text-align:center;
	line-height:2.4em;
}
.bottombar2{
	height:25px;
	width:968px;
	margin:0 auto;
	padding:3px;
	background:url(../style/bgprefooter.png) no-repeat center top;
	color:#D00;
	font-size:18px;
  font-weight:bold;
	text-align:center;
}
.bottombar a:link,.bottombar a:visited{
	font-family:Verdana,Arial,sans-serif;
	color:#FFF;
	padding:0 6px;
}
#loading { 
	clear:both; 
	background:url(../style/wait.gif) center top no-repeat; 
	text-align:center;
	padding:33px 0px 0px 0px;
	font-size:12px;
  font-weight:bold;
	display:none; 
	font-family:Verdana,Arial,sans-serif;
}
.renamebutton {
  border: 0;
  background: url(../style/rename.png);
  width: 16px;
  height: 16px;
}
.valid_renamebutton {
  border: 0;
  background: url(../style/valid_rename.png);
  width: 16px;
  height: 16px;
}
.wydevslidebutton, .wydevslidebutton:hover {
  border: 0;
  background: url(../style/BTNSliderStage1.png);
  width: 16px;
  height: 16px;
}
.wydevslidebutton:active, .wydevslidebutton:link {
  border: 0;
  background: url(../style/BTNSliderStage2.png);
  width: 16px;
  height: 16px;
}
#menu {
	list-style:none;
	margin:0px;
	padding:0px 0px 0px;
	font-family:Verdana,Arial,sans-serif;
	font-size: 12px;
  font-weight:bold;
}
#menu ul, #menu li { 
	list-style-type:none;
	padding:0;
	margin:0;
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
#menu a, #menu a:link {
	background:url(../style/headbg3_btn.png) no-repeat top;
	color: #FFF;
  line-height:50px;
	text-decoration:none;
	display:block;
  height:53px;
	width:96px;
}
#menu a:hover {
  background:url(../style/headbg3_btn_hover.png) no-repeat;
	color:#000;
}
.button, .button:visited{
  background: #222 url(../style/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
}
#progress-outer {
    background: #333;
    -webkit-border-radius: 13px;
    height: 10px;
    width: 200px;
    padding: 3px;
}
#progress-inner {
    height: 100%;
    -webkit-border-radius: 9px;
}
.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.small.button, .small.button:visited { font-size: 11px; padding: 0; }
.button, .button:visited, .medium.button, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; /*text-shadow: 0 -1px 1px rgba(0,0,0,0.25);*/ }
.large.button, .large.button:visited { font-size: 14px; padding: 8px 14px 9px; }
.upload_wait {
  position:absolute;
  top:36%;
  left:50%;
  margin-left:-150px;
  height:70px;
  width:300px;
  background: #ebebeb;
  border:solid 3px #636363;
  display:none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align:center;
}
#wyremote_table {
  position:fixed;
  top: 160px;
  left: 0px;
  z-index:1;
}
