NAME="ffmpeg"

VERSION="0.3"

DEPENDS="faad2 rtmpdump"

SRCDIR="sources"

PRE_COMPILATION() {
	cd $SRCDIR
	chmod a+x configure version.sh
	make clean
	make distclean
	./configure --enable-cross-compile --cross-prefix=sh4-linux- --arch=sh4 --cpu=sh4 --target-os=linux \
	--enable-gpl --disable-static --enable-shared --prefix=/usr \
	--disable-ffserver --disable-ffplay --disable-ffprobe --disable-debug --disable-ipv6 \
	--extra-cflags="-I../depends/faad2/faad2-2.7/include -I../depends/rtmpdump/rtmpdump" \
	--extra-ldflags="-L../depends/faad2/faad2-2.7/libfaad/.libs -L../depends/rtmpdump/rtmpdump/librtmp" \
	--enable-libfaad --enable-libfaadbin --enable-librtmp
	make
}

BINARIES="ffmpeg"

POST_COMPILATION() {
	sh4-linux-strip $SRCDIR/libavcodec/libavcodec.so
	sh4-linux-strip $SRCDIR/libavdevice/libavdevice.so
	sh4-linux-strip $SRCDIR/libavformat/libavformat.so
	sh4-linux-strip $SRCDIR/libavutil/libavutil.so
	sh4-linux-strip $SRCDIR/ffmpeg
	mkdir -p $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/libavcodec/libavcodec.so* $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/libavdevice/libavdevice.so* $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/libavformat/libavformat.so* $PKGDIR/rootdir/usr/lib/
	cp -d $SRCDIR/libavutil/libavutil.so* $PKGDIR/rootdir/usr/lib/
	cp -d depends/faad2/rootdir/usr/lib/libfaad.so* $PKGDIR/rootdir/usr/lib/
	cp -d depends/rtmpdump/rootdir/usr/lib/librtmp.so* $PKGDIR/rootdir/usr/lib/
}

